<section>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 shadow-lg ">
      <div class="container">
      <a class="navbar-brand" routeLink="/">
        <img src="./assets/images-20231007T152308Z-001/images/freshcart-logo.svg" alt="logo" class="w-100">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <div class="icons fs-5 ">
              <i class="fa-brands fa-facebook me-3"></i>
              <i class="fa-brands fa-twitter me-3"></i>
              <i class="fa-brands fa-github me-3"></i>
              <i class="fa-brands fa-google me-3"></i>
              <i class="fa-brands fa-instagram me-3"></i>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active-link"  aria-current="page">register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active-link"  aria-current="page">login</a>
          </li>
        </ul>
    </div>
    </div>
  </nav>
</section>
