<section>
  <div class="container mt-5">
    <form [formGroup]="registerForm" (ngSubmit)="handleForm()">
      <div class="form-item mt-5">
        <label for="name" class="form-label">Name</label>
        <input type="text"
          class="form-control" name="name" id="name" formControlName="name">
        <div class="messages alert alert-danger" *ngIf="(registerForm.get('name')?.touched||registerForm.get('name')?.value.length>0)&&registerForm.get('name')?.errors">
          <p *ngIf="registerForm.get('name')?.getError('required')">name is required</p>
          <p *ngIf="registerForm.get('name')?.getError('minlength')">at least 3 characters</p>
          <p *ngIf="registerForm.get('name')?.getError('maxlength')">max characters 10</p>
        </div>
      </div>
      <div class="form-item">
        <label for="email" class="form-label">email</label>
        <input type="email"
          class="form-control" name="email" id="email" formControlName="email">
          <div class="messages alert alert-danger" *ngIf="(registerForm.get('email')?.touched||registerForm.get('email')?.value.length>0)&&registerForm.get('email')?.errors">
            <p *ngIf="registerForm.get('email')?.getError('required')">email is required</p>
            <p *ngIf="registerForm.get('email')?.getError('email')">invalid email</p>
          </div>
      </div>
      <div class="form-item">
        <label for="password" class="form-label">password</label>
        <input type="password"
          class="form-control" name="password" id="password" formControlName="password">
          <div class="messages alert alert-danger" *ngIf="(registerForm.get('password')?.touched||registerForm.get('password')?.value.length>0)&&registerForm.get('password')?.errors">
            <p *ngIf="registerForm.get('password')?.getError('required')">password is required</p>
            <p *ngIf="registerForm.get('password')?.getError('pattern')">invalid password</p>
          </div>
      </div>
      <div class="form-item">
        <label for="rePassword" class="form-label">rePassword</label>
        <input type="password"
          class="form-control" name="rePassword" id="rePassword" formControlName="rePassword">
          <div class="messages alert alert-danger" *ngIf="(registerForm.get('rePassword')?.touched||registerForm.get('rePassword')?.value.length>0)&&registerForm.get('rePassword')?.errors">
            <p *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is required</p>
            <p *ngIf="registerForm.get('rePassword')?.getError('missMatch')">password confirmation is incorrect</p>
          </div>
      </div>
      <div class="form-item">
        <label for="phone" class="form-label">phone</label>
        <input type="tel"
          class="form-control mb-4" name="phone" id="phone" formControlName="phone">
          <div class="messages alert alert-danger" *ngIf="(registerForm.get('phone')?.touched||registerForm.get('phone')?.value.length>0)&&registerForm.get('phone')?.errors">
            <p *ngIf="registerForm.get('phone')?.getError('required')">phone is required</p>
            <p *ngIf="registerForm.get('phone')?.getError('pattern')">invalid phone number</p>
          </div>
      </div>
      <button type="submit" class="main-btn" [disabled]="registerForm.invalid">Register</button>
      <p class="alert alert-danger" *ngIf="errMessage">{{errMessage}}</p>
    </form>
  </div>
</section>
