<section>
  <div class="container main-margin main-padding" *ngIf="wishData;else i">
    <h2 class="fw-bolder">wish List</h2>
      <div class="row d-flex justify-content-between align-items-center border-bottom py-2 " *ngFor="let item of wishData">
            <div class="col-md-2">
            <div class="right ">
              <div class="image">
                <img [src]='item.imageCover' alt="image" class="w-100">
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="left d-flex justify-content-between align-items-center">
              <div class="title">
                <h5>{{item.title}}</h5>
                <h6>{{item.price | currency :' '}} EGP</h6>
                <button class="text-danger btn" type="button" (click)="remove(item.id)"><i class="fa-solid fa-trash"></i> Remove</button>
              </div>
              <div class="count d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-success text-main" (click)="AddToCart(item.id)">add to cart</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  <ng-template #i>
    <div class="container my-5 py-5">
      <h1 class="fw-bolder mb-3">My wish List</h1>
    </div>
  </ng-template>
</section>
